*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Poppins", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  background-color: #fafafa;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  justify-content: space-evenly;
  gap: 76px;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.nav .list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav .link {
  font-weight: 500;
  color: #2e2f42;
}

.page-address .link {
  color: #434455;
}

.page-address .list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

/*main*/

.page-title-section {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px;
}

.page-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  width: 496px;
  margin-bottom: 48px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  padding: 16px 32px;
  border-radius: 4px;
  width: 169px;
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.why-us .list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 120px 156px;
  justify-content: center;
}

.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.box {
  width: 264px;
  padding: 32px 16px;
  border: 1px solid #ffffff;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box-p {
  width: 360px;
  padding: 32px 16px;
  align-items: center;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.sec-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
  padding-bottom: 72px;
}

.team-section .list {
  display: flex;
  gap: 24px;
  padding-bottom: 32px;
  text-align: center;
  justify-content: center;
}

.sub-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 8px;
}

.text {
  color: #434455;
}

.portfolio {
  padding: 120px 0px;
}

.portfolio .list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 48px) / 3);
}

/*footer*/

.page-footer {
  background-color: #2e2f42;
  padding: 120px 156px;
}

.page-footer .logo-span {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  width: 264px;
}
